@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

div {
  display: block;
}

.Notator-tracklist-outer {
  float: left;
  overflow: hidden;
  position: relative;
  width: 50px;
  height: 100%;
}

.Notator-tracklist-inner {
  overflow: hidden;
  width: 50px;
  position: absolute;
  z-index: 10;
}

.Notator-lane-outer {
  height: 100%;
  overflow: scroll;
  margin-left: 50px;
  z-index: 10000;
}

.Notator-lane-inner {
  overflow: hidden;
  position: relative;
}

.Notator-toolbar {
  margin: 5px;
}
