.PianoRollNote-note {
  height: 16px;
  background-color: pink;
  border: 1px solid white;
  position: absolute;
  z-index: 5;
}

.PianoRollNote-selected {
  border: 1px solid red;
}

.PianoRollNote-dragged {
  box-shadow: 5px 5px 20px 0px #000000;
  z-index: 10000;
}